
/*Nav Bar*/
.nav-container {
    padding:15px 15px;
}
.nav-container img{
    width:100%;
}
.ul-nav {
    list-style-type: none;
    padding:0;
}
.ul-nav li {
    float: left;
}
.ul-nav li a {
    display: block;
    font-family: 'Italiana', serif;
    font-size: 21px;
    color:#4D4D4D;
    padding: 10px 15px;
    text-decoration: none;
}
.ul-nav li a:hover {
    color:black;
    text-decoration: none;
}
@media screen and (min-width: 1400px) {
    .nav-container{
        margin:0 auto;
    }
} 
/*END Nav Bar*/

/* Shopify Buy Button & Products */
.shopifyButton-container {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
}
    .shopify-buy__btn-wrapper {
      margin-top:0px !important;
}
.p-index {
    text-align: center;
}
.productImg-responsive {
    display: block;
    margin: 0 auto;
    padding-bottom:20px;
}
.coming-soon-btn {
    background-color: grey;
    font-family:  Arial, sans-serif;
    font-size: 15px;
    color: white;
    padding: 12px 8px 12px 8px;
    border: none;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    align-self: flex-end;
    pointer-events: none;
    cursor: not-allowed;
  }
  .coming-soon-btn-container {
      width:240px;
      height: 62px;
      display: flex;
  }


/* Alignments and Spacers */
.align-center{
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

/* Fonts */
.italiana {
    font-family: 'Italiana', serif;
}