/*Font */
  body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a {
    color:black;
  }
  a:hover {
    color:black;
  }
  a:visited {
    color:black;
  }
  h1 {
    font-family:italiana;
  }
  .grey{
    color:#777777;
  }
  .white{
    color:white;
  }

/*END Font*/

/*Nav Bar*/
.nav-container {
    padding:15px 15px;
}
.nav-container img{
    width:100%;
}
.ul-nav {
    list-style-type: none;
    padding:0;
}
.ul-nav li {
    float: left;
}
.ul-nav li a {
    display: block;
    font-family: 'Italiana', serif;
    font-size: 21px;
    color:#4D4D4D;
    padding: 10px 15px;
    text-decoration: none;
}
.ul-nav li a:hover {
    color:black;
    text-decoration: none;
}
@media screen and (min-width: 1400px) {
    .nav-container{
        margin:0 auto;
    }
} 
/*END Nav Bar*/

/*About Us Page Secondary Nav Bar */
.navigation-menu {
    border-bottom: 1px black solid;
  }
  ul.navigation-menu {
    position: relative;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  ul.navigation-menu li {
    float: left;
    width: 100%;
  }
  ul.navigation-menu li:hover {
    background-color: #cccccc;
  }
  ul.navigation-menu li a:link, .navigation-menu li a:visited {
    display: block;
    padding: 10px 20px 5px 20px;
    text-decoration: none;
  }
/* MOBILE About us Secondary Nav Bar*/
.accordion, .accordion * { 
  -webkit-box-sizing:border-box;  
  -moz-box-sizing:border-box;  
  box-sizing:border-box; 
}
.accordion { 
  overflow:hidden; 
  background:#f7f7f7; 
  width:100%; 
  margin:20px auto 0; 
  font-family:Verdana, Geneva, sans-serif;
  font-size:14px; 
  line-height:1.5; 
}
 .accordion-section-title { 
   width:100%; 
   padding:10px 30px 10px 15px;
   display:inline-block;
   background:#fff;
   transition:all linear 0.15s;
   -webkit-transition:all linear 0.15s;
   -moz-transition:all linear 0.15s;
   -ms-transition:all linear 0.15s;
   -o-transition:all linear 0.15s;
   font-size:1.200em;
   color:#3f3f3f;
   text-decoration:none;
   margin:0 0 1px 0;
   border:1px solid #dadada;
   position:relative;
   border-radius:4px;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   -ms-border-radius:4px;
   -o-border-radius:4px; 
}
.accordion-section-title.active, .accordion-section-title:hover { 
  background:#A1D2E6; 
  color:#fff;
}

.accordion-section-content { 
  padding:15px;
  display:none;
  background:#f0f0f0;
  margin-bottom:2px;
  border-bottom:1px solid #dadada; 
}

.active, .open { 
  display:block;
}
.arrow { 
  border-top:6px solid #7d7d7d;
  border-right:6px solid transparent;
  border-bottom:6px solid transparent;
  border-left:6px solid transparent;
  float:right;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position:absolute;
  top:50%;
  right:15px;
  margin-top:-3px;
} 
.accordion-section-title.active .arrow {
  border-top:6px solid transparent;
  border-bottom:6px solid #fff;
  margin-top:-10px; 
}

/*END About Us Page Secondary Nav Bar */

/* Individual Product Page Stylings */
.hr-indi {
  border-top: 1px solid #A1D2E6;
  margin-top: 0; 
  margin-bottom: 50px;
}

.indi-display img {
  margin: 0 auto;
}
.navigation-menu-indi {
  border-bottom: 1px #A2A9AD solid;
}

#recommended-text, #howTo-text, #ingredients-text, #recommended-bullet, #howTo-bullet, #ingredients-bullet, #products-text, #farms-text, #philosophy-text, #ingredients-text, #leadership-text {
  display:none;
}

/* END Individual Product Page Stylings */


/* Shopify Buy Button & Products */
.shopifyButton-container {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
}
    .shopify-buy__btn-wrapper {
      margin-top:0px !important;
}
.p-index {
    text-align: center;
}
.productImg-responsive {
    display: block;
    margin: 0 auto;
    padding-bottom:20px;
}
.coming-soon-btn {
    background-color: grey;
    font-family:  Arial, sans-serif;
    font-size: 15px;
    color: white;
    padding: 12px 8px 12px 8px;
    border: none;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    align-self: flex-end;
    pointer-events: none;
    cursor: not-allowed;
  }
  .coming-soon-btn-container {
      width:240px;
      height: 62px;
      display: flex;
  }
/* END Shopify Buy Button */

/* Mail Chimp Footer Email Sign Up Form */

#mc_embed_signup { 
    border: none; 
    text-align: center; 
    width: 100%; 
    } /* Signup form container */

  .mc-field-group { display: inline-block; } /* positions input field horizontally */

  #mce-EMAIL { 

    font-size: 1em;
    border: 2px solid #ABB0B2;
    color: #343434;
    background-color: #fff;
    padding: .1em 9em .1em 1em;
    -moz-border-radius: 3px;
    display: inline-block;
    margin: 0; } /* Input Styles */

  .clear { display: inline-block; } /* positions button horizontally in line with input */

  .button { 
    font-size: 1em;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: #A3D2E5;
    padding: 0.1em 1em;
    border: 2px solid #A3D2E5;
    -moz-border-radius: 3px;
    display: inline-block;
    margin: 0;
  } /* Button Styles */
  
  :-webkit-input-placeholder { color: #ABB0B2 ; } /* WebKit browsers */ 
  :-moz-placeholder { color: #ABB0B2 ; } /* Mozilla Firefox 4 to 18 */
  ::-moz-placeholder { color: #ABB0B2 ; } /* Mozilla Firefox 19+ */
  :-ms-input-placeholder { color: #ABB0B2 ; } /* Internet Explorer 10+ */

  @media (max-width: 768px) { 
    /* positions input field and button underneath each other with 100% width for tablet and mobile */
    .mc-field-group { 
      display: block; 
      max-width: 100%; 
      }
    #mce-EMAIL {     
      padding: .3em 0 .3em 1em;
      width: 100%;
      margin: 0;
    }
    .clear { 
      display: block; 
      width: 100% 
      }
    .button {     
      width: 100%;
      margin: .5em 0em 0 0;
      padding: 0 0; 
    }
  }
  
  /*END Mail Chimp Form */

/* Images with Buttons or Text overlayed*/
.img-container {
    position: relative;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.top-left p {
max-width:50vw;
}
/*END images with...*/

/* Alignments and Spacers */
.align-center{
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}

.move-center {
    display: flex;
    justify-content: center;
  }
.hide-md{
    display: inherit;
}
.show-md{
    display: none;
}
@media (max-width:768px){
    .hide-md{
        display: none;
    }
    .show-md{
        display: inherit;
    }
}
  @media (max-width: 576px) {
    .my-sm-d-3{
      margin-top: 1rem !important; 
      margin-bottom: 1rem !important; 
    }
}
/* Fonts */
.italiana {
    font-family: 'Italiana', serif;
}
